NEXT_PUBLIC_API_URL=http://localhost:5001/
NEXT_PUBLIC_HOST_URL=http://localhost:3000
NEXT_PUBLIC_CRMS_URL=http://localhost:3001
NEXT_PUBLIC_HRMS_URL=http://localhost:3002
NEXT_PUBLIC_POS_URL=http://localhost:3003
NEXT_PUBLIC_SCMS_URL=http://localhost:3004
